/* ELEMENT selector */
body {
	background-color: lightyellow;
}

h1 {
	font-size: 30px;
	color: teal;
}
h2{
	color: red;
	font-size: 20px;
}

h2 {
	color: blue; /* in case of style conflicts, bottom rule takes over */
}

/* CLASS selector */
.big {
	font-size: 50px;
}

.uppercase {
	text-transform: uppercase;
}

.big.uppercase {
	color: salmon;
}

span {
	font-style: italic;
	color: darkred;
}

h1 span {
	color: purple;
	text-decoration: underline;
}